:root {
    --rose800: rgb(122, 40, 78);
    --rose50: rgb(255, 247, 251);
    --stone900: rgb(49, 46, 44);
    --stone600: rgb(95, 86, 77);
    --stone150: rgb(227, 221, 215);
    --stone100: rgb(243, 229, 215);
    --brown800: rgb(133, 70, 50);
    --white: rgb(255, 255, 255);
    --fontPrimary: "Young Serif";
    --fontSecundary: "Outfit";  
}


/* fuentes */

@font-face {
    font-family: "Young Serif";
    src: url(../assets/fonts/YoungSerif-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url(../assets/fonts/Outfit-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url(../assets/fonts/Outfit-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url(../assets/fonts/Outfit-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

/* estilos generales */

body {
    margin: 0;
    font-family: var(--fontSecundary);
    color: var(--stone600);
    line-height: 150%;
    background: var(--stone100);
}

img {
    vertical-align: bottom;
    inline-size: 100%;
    aspect-ratio: 16/9;
    height: auto;
}

h2,
h1 {
    margin: 0;
    line-height: 100%;
    font-family: var(--fontPrimary);
}

p {
    margin: 0;
}

ul, 
ol {
    padding-inline-start: 1.5rem;
    margin: 0;
}

li {
    padding-inline-start: 1rem;
    margin-block-end: .5rem;
}

li span {
    font-weight: 700;
}

hr {
    inline-size: 100%;
    background: var(--stone150);
    margin: 0;
}

/* estilos */

.recipe {
    background: var(--white);
    max-inline-size: 38.5rem;
}

.recipe_body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 2rem;
}

.recipe_title{
    font-weight: 400;
    font-size: 2rem;
    color: var(--stone900);
    margin-block-end: 1.5rem;
}

.recipe_preparation {
    padding: 1.5rem;
    background: var(--rose50);
}

.recipe_titlePreparation {
    color: var(--rose800);
    font-weight: 600;
    line-height: 100%;
    font-size: 1.25rem;
    margin-block-end: 1rem;
}

.recipeItemPreparation::marker {
    color: var(--rose800);
}

.recipeItemIngredients::marker {
    color: var(--brown800);
}

.recipeItemInstructions::marker {
    color: var(--brown800);
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--fontSecundary);
}

.recipe_subTitle {
    color: var(--brown800);
    font-size: 1.75rem;
    margin-block-end: 1.5rem;
}

.table {
    inline-size: 100%;
    margin-block-start: 1.5rem;
}

.table tr {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 2rem;
    padding-block: .75rem;
    border-block-end: 1px solid var(--stone150);
}

.table tr:first-child {
    padding-block-start: 0;
}

.table tr:last-child {
    padding-block-end: 0;
    border: none;
}


.table td {
    flex: 1;
    padding: 0;
}

.table_value {
    font-weight: 700;
    color: var(--brown800);
}

/* media queries */
@media (width > 600px) {
    body {
        display: flex;
        justify-content: center;
        padding-block: 8rem;
    }

    .recipe {
        padding: 2.5rem;
        box-sizing: border-box;
        border-radius: 1.5rem;
    }

    .recipe_img {
        border-radius: .75rem;
        overflow: hidden;
    }

    img {
        max-block-size: 18.75rem;
    }

    .recipe_body {
        padding: 0;
        margin-block-start: 2.5rem;
    }
}

@media (width > 1200px) {
    .recipe {
        max-inline-size: 46rem;
    }
}